body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
}

#gameCanvas {
    background-image: url('field.jpg');
    background-position: center;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    max-width: 500px;
    max-height: 800px;
    aspect-ratio: 2 / 3;
    border: 2px solid #000;
}